<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="cash.z.android.wallet">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- for analytics to know when to send information -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <dist:module dist:instant="true" />

    <application
        android:name="cash.z.android.wallet.ZcashWalletApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_shield"
        android:roundIcon="@mipmap/ic_launcher_shield_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ZcashTheme"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Mixpanel options -->
        <meta-data android:name="com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates" android:value="false" />
        <meta-data android:name="com.mixpanel.android.MPConfig.EnableDebugLogging" android:value="false" />
        <meta-data android:name="com.mixpanel.android.MPConfig.DisableDecideChecker" android:value="true" />
        <meta-data android:name="com.mixpanel.android.MPConfig.DisableEmulatorBindingUI" android:value="true" />
        <meta-data android:name="com.mixpanel.android.MPConfig.DisableGestureBindingUI" android:value="true" />
        <meta-data android:name="com.mixpanel.android.MPConfig.DisableViewCrawler" android:value="true" />
        <meta-data android:name="com.mixpanel.android.MPConfig.IgnoreInvisibleViewsVisualEditor" android:value="true" />

        <activity
            android:name="cash.z.android.wallet.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ZcashTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>